.vscode
AWS_REGION
build
certificate.pem
CHANNEL_NAME
create-keys-and-certificate.json
CREDENTIALS_ENDPOINT
examples/master/demo_config.h
IOT_POLICY_NAME
iot-policy.json
private.key
public.key
ROLE_ALIAS
role-alias-policy.json
role-policy.json
THING_NAME
thing_output.json
trust-policy.json
UNIQUE_ID
